* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    color: white;
    background-image: linear-gradient(to right, purple, plum);
    text-align: center;
    height: 60px;
}

.headtitle {
    padding-top: 8px;
}

.searchcontainer {
    width: 275px;
    height: auto;
    margin-top: -350px;
}

.maincontainer {
    margin-top: 140px;
    width: auto;
    position: fixed;
}


/* city search title */
.search-title {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 3px;
}


input {
    border: purple solid 2px;
    border-radius: 4px;
    font-size: 14px;
    padding: 9px 9px;
    width: 260px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.search-button {
    color: black;
    background-color: plum;
    padding: 10px 110px;
    border-radius: 10px;
    margin-left: 5px;
}


/* container where search history will populate */
#searchHistory {
    margin-left: 1%;
    margin-top: 10px;
    border-top: 1px solid black;
    width: 98%;
}

/* buttons from previous history under search  */
#searchHistory button {
    background-color: beige;
    color: purple bold;
    margin-top: 10px;
    margin-bottom: 5px;
    border: none;
    width: 100%;
    padding: 7px 110px;
    border-radius: 4px;
    margin-left: 3px;
    text-align: center;
    display: inline;
}


/* todays weather */
.todays-weather {
    border: 2px solid purple;
    border-radius: 10px;
    width: 700px;
    height: 200px;
    margin-top: -112px;
    margin-left: 300px;
    margin-bottom: 20px;
}


#currentInfo {
    margin: -85px;
}


/* 5 day forecast */
.forecast {
    padding-left: 300px;
}


#dayForecast {
    text-align: left;
}

/* 5 day forecast weather */
#weatherContainer {
    height: auto;
    width: auto;
    border: 2px solid plum;
    border-radius: 10px;
}

/* individual days weather */
.icons {
    display: inline-block;
    color: white;
    background: rgb(1, 1, 57);
    height: 140px;
    width: 115px;
    margin: 5px;
    border: 1px solid black;
}

/* all 5 days of weather */
#iconsContainer {
    height: 120px;
    width: 120px;
    border-radius: 10px;
    display: inline;
}

/* individual day weather for today weather */
#day1 {
    padding-top: 5px;
    text-align: left;
    margin-left: 5px;
    font-size: 22px;
}

/* individual day weather for 5 day forecast */
#day1,
#day2,
#day3,
#day4,
#day5,
#day6 {
    text-align: left;
    margin-left: 5px;
}


/* weather data for today - top container */
.todaysweatherdata {
    font-size: 14px;
    padding-left: 5px;
}

.day1imgClass {
    margin-top: -43px;
    margin-left: 110px;
}

/* weather img for the days weather */
.imgClass {
    height: 50px;
    width: 50px;
}

/* date for weather being displayed */
.weather {
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

/* temperature */
.tempValues {
    text-align: left;
    font-size: 12px;
    display: inline-block;
    margin-left: 5px;
}

/* wind */
.windValues {
    text-align: left;
    font-size: 12px;
    display: inline-block;
    margin-left: 5px;
}

/* humidity */
.humidityValues {
    text-align: left;
    font-size: 12px;
    display: inline-block;
    width: auto;
    margin-left: 5px;
}
